#wrapper{
    display: grid;
    height: 90vh;
    width: 90%;
    margin: auto;
    grid-template-areas: "hd hd hd"
    "na na na"
    "s1 s1 s1"
    "as as as"
    "ft ft ft";

    grid-template-columns: auto auto auto;
    grid-row: 1fr 1fr 1fr;
}

header{
    grid-area: hd;
    background-color: #550088;
}

nav{
    grid-area: na;
    background-color: aliceblue;
}

#section1{
    grid-area: s1;
    background-color: aliceblue;
}

aside{
    grid-area: as;
    background-color: aliceblue;
}

footer{
    grid-area: ft;
    background-color: aliceblue;
}